<div class="row mx-5 my-5">

        <div *ngFor="let y of newContainer" class="col-md-5 card ml-5 my-4 py-4">
              <div class="row">
                <div class="col-md-6">
                    <p class="card-title">Email: {{y.email}}</p> <!--This is the coming data from Api web servers -->
                    <p class="card-text">This is a wider card with his content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
      
                <div class="col-md-6 d-flex">
                    <img src="../../assets/image.png" class="img-fluid" >
                </div>
      
              </div>
        </div>
      
</div>
      