    <!-- Navbar -->


    <nav class="navbar navbar-expand-lg nav-bg nav-col bot-rad px-5">
      <a class="navbar-brand" href="#"><img class="logo" src="../assets/GraphicHex Logo.png"></a>
      <button class="navbar-toggler d-lg-none  text-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-th-list faList "></i>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink='/regform'>Contact us</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item pl-4 fa-ico"><i class="fa fa-envelope-o"></i></li>
            <li class="nav-item pl-4 fa-ico"><i class="fa fa-bell-o"></i></li>
            <li class="nav-item pl-4 fa-ico"><i class="fa fa-comment-o"></i></li>
          
            <li class="nav-item pl-4 fa-ico dropdown show">
                <img class="userImg" id="dropdownMenuLink" data-toggle="dropdown" src="../assets/dovi-delrito.jpg">
                <i class="fa fa-angle-down pl-1 fa-ico" id="dropdownMenuLink" data-toggle="dropdown"></i>
  
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Sign out</a>
                </div>
            </li>
        </ul>
        </div>
    </nav>
    
