

<div class="row row-cols-1 row-cols-md-2 my-4 mx-5">

        <div class="col mb-4">
            <div class="text-center bg-grey">
                <img src="../../assets/Agencies-01-01-01.png" class="card-img-top jobImage">
                <div class="card-body">
                    <h5 class="card-title">Agencies</h5>
                    <p class="card-text">That means you are in a workgroup <br> and need it for a company.</p>
                    <button type="button" routerLink='/agentsubs' class="btn btn-primary py-2 px-5">Go</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="text-center bg-grey">
                <img src="../../assets/freelancer-01-01-01.png" class="card-img-top jobImage">
                <div class="card-body">
                    <h5 class="card-title">Freelancer</h5>
                    <p class="card-text">That means you need  this for your <br> online work indiviually.</p>
                    <button type="button" routerLink='/lancersubs' class="btn btn-primary py-2 px-5">Go</button>

                </div>
            </div>
        </div>
            
    </div>
